#navbar{
	background-color: rgb(50, 56, 58);
 	background: rgba(50, 56, 58, 0.95);
  	border-top: none;
  	border-bottom: 1px solid rgba(255,255,255,.2);
  	height: 50px;
}

#iconStyle {
	font-size:3.5em;
	color:#e5e5e5;
	margin-left:10px;
}

.title {
	font-size: 2.3em;
  	position: relative;
  	color: #e5e5e5;
  	bottom: 12px;
  	left: 14px;
}

.logout {
	color: #e5e5e5;
	position: relative;
 	right: 15px;
  	top: 5px;
}