#register{
	/*background-color:yellow;*/
}

.md-button.md-raised.delete:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color:#D64331;
    color:white;
}

.md-button.dialogBtnPan, .md-button.closeDialogBtn{
	background-color:#F9F9F9;
	color:#868686;
	transition: all .25s;
}

.md-button.dialogBtnPan:hover{
	background-color:#6399F9;
	color:#f9f9f9;
}
.md-button.closeDialogBtn:hover{
	background-color:#d64331;
	color:#f9f9f9;
}
